body {
  background: #fafafa;
}

.App {
  text-align: center;
}

#nav-wrap {
  margin: 20px 0;
}

#nav-wrap nav a {
  padding: 10px 10px;
  background: #fafafa;
  text-decoration: none;
  color: #3e3e3e;
  font-size: 1.1em;
  transition: 0.2s;
  border-radius: 5px;
  margin: 0px 5px;
}

#nav-wrap nav a:hover {
  background: #3e3e3e;
  color: #fafafa;
  transition: 0.2s;
}

#controller {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 10px;
}

#controller #preview {
  max-width: 320px;
  flex: 1;
}

#controller #preview img {
  width: 100%;
}

#controller #options {
  flex: 1;
}

#options form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 20px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 10px;
}

#options form input {
  grid-column: 2 / 3;
  padding: 5px;
}

#options form button {
  grid-column: 2 / 3;
  padding: 5px;
}

#options form label {
  grid-column: 1 / 2;
  text-align: right;
  padding: 5px;
}

#thumbnails {
  max-width: 700px;
  border-radius: 5px;
  background: #eeeeee;
  padding: 10px;
  margin: 10px auto 20px auto;
}

#thumbnails h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

#thumbnails img {
  padding: 3px 5px;
}

@media (max-width: 500px) {
  #controller {
    flex-direction: column;
  }

  #controller #preview {
    width: 100vw;
  }
}